In [1]:
import numpy as np
import pandas as pd

# 算术运算法则

- 算术运算根据行列索引，补齐后运算，运算默认产生浮点数
- 补齐时缺项填充NaN
- 二维和一维，一维和零维间为广播运算
- 采用+ - * /符号进行的二元运算产生新的对象

In [3]:
a = pd.DataFrame(np.arange(12).reshape(3, 4))

b = pd.DataFrame(np.arange(20).reshape(4, 5))

# 自动补齐NaN
a + b

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

## 方法形式的运算

- add(d, **argws)  类型间加法运算
- sub(d, **argws)  类型间减法运算
- mul(d, **argws)  类型间乘法运算
- div(d, **argws)  类型间除法运算

In [4]:
a = pd.DataFrame(np.arange(12).reshape(3, 4))

b = pd.DataFrame(np.arange(20).reshape(4, 5))

# 指定填充数据代替NaN
a.mul(b, fill_value=0)

      0     1      2      3    4
0   0.0   1.0    4.0    9.0  0.0
1  20.0  30.0   42.0   56.0  0.0
2  80.0  99.0  120.0  143.0  0.0
3   0.0   0.0    0.0    0.0  0.0

In [9]:
a = pd.DataFrame(np.arange(20).reshape(4, 5))
b = pd.Series(np.arange(4))

# 不同维度间为广播运算
# 一维Series默认在轴axis=1（行）参与运算
a - b

# 使用运算方法可以使一维Series在轴axis=0（列）参与运算
a.sub(b, axis=0)

    0   1   2   3   4
0   0   1   2   3   4
1   4   5   6   7   8
2   8   9  10  11  12
3  12  13  14  15  16

# 比较运算法则

- 比较运算只能比较相同索引的元素，不进行补齐
- 二维和一维，一维和零维间为广播运算
- 采用 > < >= <= == != 等符号进行的二元运算产生布尔对象

In [10]:
a = pd.DataFrame(np.arange(12).reshape(3, 4))
b = pd.DataFrame(np.arange(12, 0, -1).reshape(3, 4))

# 同纬度运算，尺寸一致
a > b

       0      1      2      3
0  False  False  False  False
1  False  False  False   True
2   True   True   True   True

In [11]:
c = pd.Series(np.arange(4))

# 不同维度，广播运算，默认在轴axis=1（行）
a > c

       0      1      2      3
0  False  False  False  False
1   True   True   True   True
2   True   True   True   True